body {
  background-color: #f3f2ef;
}

.app {
  display: flex;
  justify-content: center;
  gap: 5px;
  height: 99vh;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  width: min(1120px, 98vw);
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  width: 410px;
  overflow-y: scroll;
}

.mobile-job-list {
  width: 94vw;
}
.job-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.job-desc {
  background-color: black;
  flex: 1;
}

.job {
  padding: 10px;
  padding-bottom: 0px;
  position: relative;
  background-color: #f8f8f8;
  min-height: 150px;
  display: grid;
  grid-template-columns: 50px auto 70px;
  grid-template-rows: auto 50px;
  grid-gap: 5px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.25);
  transition: 0.2s;
}

.job:hover {
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.75);
}

.job img {
  width: 100%;
  grid-row: 1;
  grid-column: 1;
}

.job p {
  background-color: green;
  grid-row: 1;
  grid-column: 2;
}

.job .type {
  justify-content: center;
  height: 30px;
  background-color: #ddf7e9;
  color: #1fc76a;
  font-weight: 600;
  grid-row: 1;
  grid-column: 3;
}

.job .skillsContainer {
  grid-row: 2;
  grid-column: 1 / -1;
  border-top: 1px solid rgba(85, 85, 85, 0.379);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.skill {
  color: #838383;
  background-color: #f1f1f1;
  padding: 5px 8px;
  margin: 3px 2px;
  display: inline-block;
  max-width: 90%;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: bold;
  font-family: "Roboto Mono", "Consolas", monospace;
}

.round-border {
  border-radius: 8px;
}

.hide {
  display: none;
}

.vertical-center {
  display: flex;
  align-items: center;
}
